<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALCHANIN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../layout') %>
        <div class="py-2">
            <a href="/" class="btn btn-success">กลับหน้าแรก</a>
        </div>
        <hr>
        <h2>
            <%= data %>
        </h2>
        <% if (locals.errors) { %>
            <ul class="alert alert-danger py-2">
                <% Object.values(errors).forEach(function(error){ %>
                    <li class="mx-3">
                        <%= error.msg %>
                    </li>
                <% }); %>
            </ul>
        <% } %>
                <form action="/blogs/update" method="POST">
                    <div class="py-2">
                        <label for="">ชื่อบทความ</label>
                        <input type="text" name="title" class="form-control" id="" value="<%= blog.title %>">
                    </div>
                    <div class="py-2">
                        <label for="">ผู้เขียน</label>
                        <input type="text" name="author" class="form-control" id="" value="<%= blog.author %>">
                    </div>
                    <div class="py-2">
                        <label for="">หมวดหมู่</label>
                        <select name="category" id="" class="form-select" style="width:auto" ;>
                            <option 
                                <% if(blog.category=="นิยาย"){ %>
                                     selected 
                                    <% } %>
                                    value="นิยาย">นิยาย
                            </option>
                            <option 
                                <% if(blog.category=="สารคดี"){ %>
                                     selected 
                                    <% } %>
                                    value="สารคดี">สารคดี
                            </option>
                            <option 
                                <% if(blog.category=="เรื่องเล่า"){ %>
                                     selected 
                                    <% } %>
                                    value="เรื่องเล่า">เรื่องเล่า
                            </option>
                        </select>
                        <input type="hidden" value="<%= blog._id %>" name="id">
                    </div>
                    <input type="submit" class="btn btn-primary" name="" id="" value="ปรับปรุง">
</body>

</html>